datapower-docker-compose-dp-mq/src/http/html/growXML/simpleTestIn.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://Simple"	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	xmlns:bons0="http://Simple">	<xsd:include schemaLocation="simpleArray.xsd"></xsd:include>	<xsd:element name="simpleTestIn">		<xsd:complexType>			<xsd:sequence>				<xsd:element minOccurs="1" ref="bons0:simpleArray"					maxOccurs="100000">				</xsd:element>				<xsd:element minOccurs="1" name="algorithm"					type="xsd:string">				</xsd:element>				<xsd:element minOccurs="1" name="stringTwo"					type="xsd:string">				</xsd:element>				<xsd:element minOccurs="1" name="stringThree"					type="xsd:string">				</xsd:element>				<xsd:element minOccurs="1" name="stringFour"					type="xsd:string">				</xsd:element>			</xsd:sequence>		</xsd:complexType>	</xsd:element></xsd:schema>